accelerate==0.25.0
appdirs==1.4.4
asttokens==2.4.1
attrs==23.1.0
azure-ai-formrecognizer==3.3.2
azure-common==1.1.28
azure-core==1.29.1
backoff==2.2.1
boilerpy3==1.0.7
canals==0.2.2
cattrs==23.2.3
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
comm==0.2.0
debugpy==1.8.0
decorator==5.1.1
dill==0.3.7
docopt==0.6.2
Events==0.5
exceptiongroup==1.2.0
executing==2.0.1
faiss-cpu==1.7.2
farm-haystack==1.17.2
filelock==3.13.1
fsspec==2023.12.2
greenlet==3.0.3
huggingface-hub==0.20.1
idna==3.6
inflect==7.0.0
ipykernel==6.27.1
ipython==8.19.0
isodate==0.6.1
jedi==0.19.1
Jinja2==3.1.2
joblib==1.3.2
jsonschema==4.20.0
jsonschema-specifications==2023.11.2
jupyter_client==8.6.0
jupyter_core==5.5.1
lazy-imports==0.3.1
MarkupSafe==2.1.3
matplotlib-inline==0.1.6
monotonic==1.6
more-itertools==10.1.0
mpmath==1.3.0
msrest==0.7.1
nest-asyncio==1.5.8
networkx==3.2.1
nltk==3.8.1              #
num2words==0.5.13
numpy==1.26.2
oauthlib==3.2.2
packaging==23.2
pandas==2.1.4
parso==0.8.3
Pillow==9.0.0
platformdirs==4.1.0
posthog==3.1.0
prompt-toolkit==3.0.43
protobuf==3.20.2
psutil==5.9.7
pure-eval==0.2.2
pydantic==1.10.13
Pygments==2.17.2
python-dateutil==2.8.2
pytz==2023.3.post1
pywin32==306
PyYAML==6.0.1
pyzmq==25.1.2
quantulum3==0.9.0
rank-bm25==0.2.2
referencing==0.32.0
regex==2023.12.25
requests==2.31.0
requests-cache==0.9.8
requests-oauthlib==1.3.1
rpds-py==0.15.2
safetensors==0.4.1
scikit-learn==1.3.2
scipy==1.11.4
sentence-transformers==2.2.2
sentencepiece==0.1.99
six==1.16.0
SQLAlchemy==1.4.50
SQLAlchemy-Utils==0.41.1
sseclient-py==1.8.0
stack-data==0.6.3
sympy==1.12
tenacity==8.2.3
threadpoolctl==3.2.0
tiktoken==0.5.2
tokenizers==0.13.3
torch==2.1.2        #
torchvision==0.16.2
tornado==6.4
tqdm==4.66.1
traitlets==5.14.0
transformers==4.29.1   #
typing_extensions==4.5.0
tzdata==2023.3
url-normalize==1.4.3
urllib3==2.1.0
wcwidth==0.2.12
